@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Oswald:wght@300&family=Roboto:wght@300&family=Wix+Madefor+Text&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden !important;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(220, 220, 220);
}

.navbar-brand {
  text-shadow: rgb(148, 32, 3);
  text-align: center;
}

span {
  color: rgb(148, 32, 3);
  text-shadow: 0px 0px 3px white;
}

.navbar {
  background-color: rgb(148, 32, 3);
  color: rgb(148, 32, 3);
  border-bottom: white 2px solid;
}

.navbar-nav {
  text-align: center;
  padding-top: 30px;
}
.navbar-nav .nav-item .nav-link {
  font-size: 25px;
  padding: 15px;
  color: black;
  font-family: "Wix Madefor Text", sans-serif;
  text-transform: capitalize;
  border-bottom: solid 1px rgb(114, 114, 114);
  text-shadow: 0px 0px 5px rgb(220, 220, 220);
  font-weight: bold;
}

#section1 {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  width: 100%;
  height: 85vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/maquinapelo2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#section1 .jumbo {
  margin: 0px 25px;
  text-align: center;
  align-items: center;
  padding: 60px 20px;
  color: white;
}
#section1 h1 {
  margin-bottom: 30px;
  font-size: 60px;
  border-bottom: 2px solid white;
  border-top: 2px solid rgb(148, 32, 3);
  text-shadow: 0px 0px 5px rgb(197, 8, 8);
  animation-name: jumbo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes jumbo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#section1 h3 {
  padding: 20px;
  font-size: 28px;
  text-shadow: 0px 0px 5px rgb(197, 8, 8);
}
#section1 button {
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 30px;
  color: white;
  background-color: rgb(148, 32, 3);
  text-transform: capitalize;
  border: 1px solid black;
  transition: all 0.8s;
  margin-bottom: 20px;
}
#section1 button:hover {
  color: rgb(148, 32, 3);
  background-color: black;
  border: 1px solid rgb(148, 32, 3);
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgb(148, 32, 3);
}

#section2 {
  width: 100%;
  text-align: center;
  background-color: rgb(220, 220, 220);
  margin-bottom: 0;
}
#section2 h2 {
  text-align: center;
  padding: 20px;
  background-color: rgb(148, 32, 3);
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(148, 32, 3);
  margin-bottom: 0;
  box-shadow: 0px 0px 5px black;
  font-family: "Oswald", sans-serif;
}
#section2 .left {
  background-image: url(../img/barberia2.jpg);
  background-position: center;
  background-size: cover;
  height: 57.5vh;
  margin: 10px 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px rgb(148, 32, 3);
  border: solid 2px black;
}
#section2 .right {
  margin: 10px 10px;
  border-left: 2px solid rgb(148, 32, 3);
  border-right: 2px solid rgb(148, 32, 3);
}
#section2 .right h4 {
  font-weight: bold;
  padding: 20px 5px;
}
#section2 .right p {
  padding: 0px 10px;
}
#section2 .right .bottons2 {
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 30px;
  color: white;
  background-color: rgb(148, 32, 3);
  text-transform: capitalize;
  border: 1px solid black;
  transition: all 0.8s;
  margin-bottom: 20px;
}
#section2 .right .bottons2:hover {
  color: rgb(148, 32, 3);
  background-color: black;
  border: 1px solid rgb(148, 32, 3);
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgb(148, 32, 3);
}

#section3 {
  width: 100%;
}
#section3 h2 {
  text-align: center;
  padding: 20px;
  background-color: rgb(148, 32, 3);
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(148, 32, 3);
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
  margin-top: 0px;
}
#section3 .servicios {
  text-align: center;
}
#section3 .servicios .cleansing {
  height: 62.5vh;
  background-image: url(../img/cleansing.jpg);
  background-position: center;
  background-size: cover;
  margin: 10px 15px;
  border: solid 2px rgb(148, 32, 3);
  border-radius: 15px;
}
#section3 .servicios .h3servicios {
  margin: 10px 10px;
  border-bottom: 2px solid rgb(148, 32, 3);
  font-family: "Wix Madefor Text", sans-serif;
  text-shadow: 0px 0px 5px rgb(148, 32, 3);
}
#section3 .servicios .iconos {
  margin: 15px 0;
  padding: 10px;
}
#section3 .servicios .iconos .icono {
  margin-top: 60px;
}
#section3 .servicios .iconos .iconoimg {
  background-position: center;
  background-size: cover;
  height: 100px;
  width: 100px;
  text-align: center;
  margin: auto;
  border: 1px solid rgb(148, 32, 3);
  padding: 20px;
  border-radius: 100px;
  box-shadow: 0px 0px 3px rgb(148, 32, 3);
  margin-bottom: 30px;
}
#section3 .servicios .iconos .iconoimg1 {
  background-image: url(../img/corte.png);
}
#section3 .servicios .iconos .iconoimg2 {
  background-image: url(../img/corte\ y\ barva.png);
}
#section3 .servicios .iconos .iconoimg3 {
  background-image: url(../img/barba.png);
}
#section3 .servicios .iconos .iconoimg4 {
  background-image: url(../img/color.png);
}
#section3 .servicios .iconos h3 {
  font-weight: bold;
  text-transform: capitalize;
}

#section4 {
  max-width: 100%;
}
#section4 h2 {
  text-align: center;
  padding: 20px;
  background-color: rgb(148, 32, 3);
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 2px rgb(148, 32, 3);
  margin-bottom: 0;
  font-family: "Oswald", sans-serif;
}
#section4 .items .ubicacion {
  width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(148, 32, 3);
  text-align: center;
  padding: 15px;
  color: rgb(220, 220, 220);
  width: 100%;
  border-top: 1px solid rgb(220, 220, 220);
}
footer .barber {
  background-image: url(../img/barbershop-g8bc6c52fd_1280.png);
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 50px;
  animation-name: barber;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes barber {
  100% {
    transform: translateY(-30px);
  }
}
footer .redes {
  margin-top: 10px;
}
footer .redes h3 {
  font-size: 20px;
}
footer .redes h4 {
  font-size: 10px;
  margin-bottom: 0%;
  padding: 0%;
}
footer .redes a {
  color: rgb(220, 220, 220);
  padding: 10px 20px;
  line-height: 40px;
  font-size: 16px;
  transition: all 0.8s;
  font-weight: bold;
}
footer .redes a:hover {
  color: black;
  transform: translateY(-10px);
}

#sec_nos {
  width: 100%;
  text-align: center;
}
#sec_nos .objetivos {
  display: none;
}
#sec_nos .nosimg {
  padding: 12px;
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/haircut-waxing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 60vh;
}
#sec_nos .nosimg h2 {
  margin: auto;
  text-align: center;
  color: rgb(220, 220, 220);
  border-top: 2px solid rgb(148, 32, 3);
  border-bottom: 2px solid rgb(148, 32, 3);
  text-shadow: 0px 0px 3px rgb(148, 32, 3);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
}
#sec_nos .nosotros .imgnos {
  background-image: url(../img/eyebrows.jpg);
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(148, 32, 3);
  border-top: 2px solid rgb(148, 32, 3);
  filter: sepia(0%);
  transition: all 0.7;
}
#sec_nos .nosotros .imgnos:hover {
  filter: sepia(100%);
}
#sec_nos .nosotros .nos {
  margin-top: 40px;
  margin-bottom: 40px;
}
#sec_nos .nosotros .nos h2 {
  margin: 10px 10px;
  border-bottom: 2px solid rgb(148, 32, 3);
  font-family: "Wix Madefor Text", sans-serif;
  text-shadow: 0px 0px 5px rgb(148, 32, 3);
}
#sec_nos .nosotros .nos p {
  font-weight: bold;
  padding: 15px 5px;
}
#sec_nos .nosotros .nos button {
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 30px;
  color: white;
  background-color: rgb(148, 32, 3);
  text-transform: capitalize;
  border: 1px solid black;
  transition: all 0.8s;
  margin-bottom: 20px;
}
#sec_nos .nosotros .nos button:hover {
  color: rgb(148, 32, 3);
  background-color: black;
  border: 1px solid rgb(148, 32, 3);
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgb(148, 32, 3);
}

.barberos {
  text-align: center;
}
.barberos .tittlebarberos {
  margin: 10px 10px;
  border-bottom: 2px solid rgb(148, 32, 3);
  font-family: "Wix Madefor Text", sans-serif;
  text-shadow: 0px 0px 5px rgb(148, 32, 3);
  font-size: 30px;
}
.barberos .barbmainimg {
  background-image: url(../img/haircut.jpg);
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(148, 32, 3);
  border-top: 2px solid rgb(148, 32, 3);
  filter: sepia(0%);
  transition: all 0.8s;
}
.barberos .barbmainimg h2 {
  margin: 120px 35px;
  text-align: center;
  color: rgb(220, 220, 220);
  border-top: 2px solid rgb(148, 32, 3);
  border-bottom: 2px solid rgb(148, 32, 3);
  text-shadow: 0px 0px 3px rgb(148, 32, 3);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
}
.barberos .barbmainimg:hover {
  filter: sepia(100%);
}
.barberos .barb1 {
  background-color: rgb(150, 153, 156);
}
.barberos .barb3 {
  background-color: rgb(150, 153, 156);
}
.barberos .barb {
  padding: 15px;
  margin-top: 20px;
}
.barberos .barb .lado1 h3 {
  color: rgb(148, 32, 3);
  margin-top: 10px;
}
.barberos .barb .lado1 h4 {
  font-family: "Roboto", sans-serif;
}
.barberos .barb .lado1 .info {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}
.barberos .barb .lado1 .info a {
  color: rgb(148, 32, 3);
  transition: all 0.8s;
  border-radius: 20px;
  font-size: 35px;
  border: 1px solid rgb(148, 32, 3);
  padding: 10px;
}
.barberos .barb .lado1 .info a:hover {
  transform: scale(1.2);
  border: solid 1px rgb(220, 220, 220);
  color: rgb(220, 220, 220);
  background-color: rgb(148, 32, 3);
}
.barberos .barb .lado1 .barbimg1 {
  background-image: url(../img/barber-alan.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: solid 2px rgb(148, 32, 3);
  width: 100%;
  height: 40vh;
  transition: all 0.8s;
}
.barberos .barb .lado1 .barbimg2 {
  background-image: url(../img/barber-john.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: solid 2px rgb(148, 32, 3);
  width: 100%;
  height: 40vh;
  transition: all 0.8s;
}
.barberos .barb .lado1 .barbimg3 {
  background-image: url(../img/barber-michele.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: solid 2px rgb(148, 32, 3);
  width: 100%;
  height: 40vh;
  transition: all 0.8s;
}
.barberos .barb .lado1 .barbimg4 {
  background-image: url(../img/beard.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  border: solid 2px rgb(148, 32, 3);
  width: 100%;
  height: 40vh;
  transition: all 0.8s;
  filter: sepia(100%);
}
.barberos .barb .lado2 p {
  font-weight: bold;
  padding: 15px 10px;
}

.sec_cortes {
  text-align: center;
}
.sec_cortes .cortesimg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/haircut-beard.jpg);
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(148, 32, 3);
  border-top: 2px solid rgb(148, 32, 3);
  filter: sepia(0%);
  transition: all 0.8s;
}
.sec_cortes .cortesimg h2 {
  margin: 120px 35px;
  text-align: center;
  color: rgb(220, 220, 220);
  border-top: 2px solid rgb(148, 32, 3);
  border-bottom: 2px solid rgb(148, 32, 3);
  text-shadow: 0px 0px 3px rgb(148, 32, 3);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.sec_cortes .cortestittle {
  margin: 10px 10px;
  border-bottom: 2px solid rgb(148, 32, 3);
  font-family: "Wix Madefor Text", sans-serif;
  text-shadow: 0px 0px 5px rgb(148, 32, 3);
  font-size: 30px;
}
.sec_cortes .row {
  padding: 10px 15px;
}
.sec_cortes .row article {
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid rgb(148, 32, 3);
  height: 55vh;
  margin: 20px 0px;
  box-shadow: 2px 2px 5px rgb(148, 32, 3);
}
.sec_cortes .row .art1 {
  background-image: url(../img/corte1.jpg);
}
.sec_cortes .row .art2 {
  background-image: url(../img/corte2.jpg);
}
.sec_cortes .row .art3 {
  background-image: url(../img/corte3.png);
}
.sec_cortes .row .art4 {
  background-image: url(../img/corte4.jpg);
}
.sec_cortes .row .art5 {
  background-image: url(../img/corte5.jpg);
}
.sec_cortes .row .art6 {
  background-image: url(../img/corte6.jpg);
}
.sec_cortes .row .art7 {
  background-image: url(../img/corte7.jpg);
}
.sec_cortes .row .art8 {
  background-image: url(../img/corte8.jpg);
}

.turnos {
  text-align: center;
}
.turnos .turnosimg {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/eyebrows.jpg);
  width: 100%;
  height: 65vh;
  background-size: cover;
  background-position: center;
  border-bottom: 2px solid rgb(148, 32, 3);
  border-top: 2px solid rgb(148, 32, 3);
  filter: sepia(0%);
  transition: all 0.8s;
}
.turnos .turnosimg h2 {
  margin: 120px 35px;
  text-align: center;
  color: rgb(220, 220, 220);
  border-top: 2px solid rgb(148, 32, 3);
  border-bottom: 2px solid rgb(148, 32, 3);
  text-shadow: 0px 0px 3px rgb(148, 32, 3);
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
.turnos .reserva {
  background-image: linear-gradient(to bottom, rgb(220, 220, 220), rgb(148, 32, 3));
  padding: 10px 15px;
  margin-bottom: 40px;
}
.turnos .reserva form {
  margin-top: 40px;
  height: 65vh;
}
.turnos .reserva form input {
  padding-left: 10px;
  margin: 12px 0px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  transition: all 0.8s;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
}
.turnos .reserva form input:focus {
  border: 2px solid rgb(148, 32, 3);
}
.turnos .reserva form input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(148, 32, 3);
  font-weight: bold;
}
.turnos .reserva form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: rgb(148, 32, 3);
  font-weight: bold;
}
.turnos .reserva form button {
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 10px;
  color: white;
  background-color: rgb(148, 32, 3);
  text-transform: capitalize;
  border: 1px solid black;
  transition: all 0.8s;
  margin-bottom: 20px;
}
.turnos .reserva form button:hover {
  color: rgb(148, 32, 3);
  background-color: black;
  border: 1px solid rgb(148, 32, 3);
  transform: scale(1.2);
  box-shadow: 0px 0px 5px rgb(148, 32, 3);
}
.turnos .reserva h3 {
  margin: 10px 10px;
  border-bottom: 2px solid rgb(148, 32, 3);
  font-family: "Wix Madefor Text", sans-serif;
  text-shadow: 0px 0px 5px rgb(148, 32, 3);
  font-size: 30px;
}
.turnos .horarios {
  background-color: rgb(184, 186, 189);
}
.turnos .horarios .left ul li {
  margin: 60px 0px;
  font-weight: bold;
  font-size: 20px;
}
.turnos .horarios .left h2 {
  margin: 15px 10px;
  border-bottom: 2px solid rgb(148, 32, 3);
  font-family: "Wix Madefor Text", sans-serif;
  text-shadow: 0px 0px 5px rgb(148, 32, 3);
  font-size: 30px;
}
.turnos .horarios .horariosimg {
  margin: 10px 8px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/tijeraspelo3.jpg);
  height: 62.5vh;
  border-radius: 10px;
  border: 2px solid rgb(148, 32, 3);
}

@media (min-width: 768px) {
  .navbar {
    background-image: linear-gradient(to right, rgb(148, 32, 3) 50%, rgb(95, 4, 4));
    display: flex;
    flex-direction: column;
  }
  .navbar-brand {
    font-size: 40px;
    padding: 0px 15px;
    text-shadow: 0px 2px 5px blue;
  }
  .navbar-nav .nav-item {
    margin-left: 10px;
  }
  .navbar-nav .nav-item .nav-link {
    transition: all 0.8s;
    padding: 0px 30px;
    font-size: 25px;
  }
  .navbar-nav .nav-item .nav-link:hover {
    color: rgb(220, 220, 220);
    transform: translateY(-10px);
  }
  #section1 .jumbo {
    height: 100vh;
  }
  #section1 .jumbo h1 {
    font-size: 80px;
    animation: none;
    margin-top: 100px;
  }
  #section1 .jumbo h3 {
    font-size: 40px;
    margin-top: 120px;
    animation-name: h3;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  @keyframes h3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
      transform: translatey(-10px);
    }
  }
  #section1 .jumbo button {
    font-weight: bold;
    display: none;
  }
  #section2 h2 {
    font-size: 30px;
  }
  #section2 .flexx {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
  }
  #section2 .flexx .left {
    width: 70%;
    margin: auto;
    height: 73vh;
    margin-top: 30px;
  }
  #section2 .flexx .right {
    border: none;
    margin: auto;
    width: 60%;
  }
  #section2 .flexx .right h4 {
    margin-top: 35px;
    font-size: 23px;
  }
  #section2 .flexx .right p {
    font-size: 18px;
  }
  #section2 .flexx .right .bottons2 {
    font-weight: bold;
    font-size: 15px;
  }
  #section3 h2 {
    font-size: 35px;
  }
  #section3 .h3servicios {
    font-size: 40px;
    margin-top: 50px;
    background-image: linear-gradient(to right, rgb(220, 220, 220), rgb(148, 32, 3));
  }
  #section3 .iconos {
    display: flex;
    animation: none;
    height: 65vh;
  }
  #section3 .icono {
    width: 30%;
    height: 200px;
    transition: all 0.8s;
  }
  #section3 .icono:hover {
    transform: scale(1.1);
  }
  #section3 .iconoimg {
    width: 150px;
    height: 150px;
    transition: all 0.8s;
  }
  #section3 .iconoimg:hover {
    transform: translateY(-10px);
  }
  .barberos .barbmainimg h2 {
    font-size: 100px;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  .barberos .barb {
    display: flex;
    box-shadow: 2px 2px 5px rgb(148, 32, 3);
  }
  .barberos .barb .lado1 {
    width: 50%;
  }
  .barberos .barb .lado1 .barbimg {
    height: 55vh;
    width: 80%;
  }
  .barberos .barb .lado1 h3, .barberos .barb .lado1 h4, .barberos .barb .lado1 .info {
    margin-right: 80px;
  }
  .barberos .barb .lado2 {
    width: 50%;
  }
  .barberos .barb .lado2 p {
    font-size: 20px;
    padding: 100px 20px;
  }
  .barberos .barb2 .lado1 {
    order: 2;
  }
  .barberos .barb2 .lado2 {
    order: 1;
  }
  .barberos .barb4 .lado1 {
    order: 2;
  }
  .barberos .tittlebarberos {
    font-size: 50px;
    margin-top: 50px;
    background-image: linear-gradient(to right, rgb(220, 220, 220), rgb(148, 32, 3));
  }
  footer {
    justify-content: center;
    background-image: linear-gradient(to right, rgb(148, 32, 3) 50%, rgb(95, 4, 4));
  }
  footer .redes h3 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  footer .redes a {
    font-size: 40px;
    padding: 5px 30px;
  }
  footer .redes h4 {
    font-size: 15px;
    margin-top: 30px;
  }
  footer .barber {
    display: none;
  }
  #sec_nos .nosimg h2 {
    font-size: 100px;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  #sec_nos .nosotros {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #sec_nos .nosotros .imgnos {
    width: 100%;
    height: 50vh;
    margin: auto;
    margin: 50px 0px;
  }
  #sec_nos .nosotros .imgnos:hover {
    filter: none;
  }
  #sec_nos .objetivos {
    display: none;
    flex-direction: column;
    background-color: white;
  }
  #sec_nos .objetivos .obj {
    margin: auto;
    padding: 0px 30px;
    width: 95%;
  }
  #sec_nos .objetivos .obj h2 {
    margin: 80px 10px;
    border-bottom: 2px solid rgb(148, 32, 3);
    font-family: "Wix Madefor Text", sans-serif;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  #sec_nos .objetivos .obj p {
    font-weight: bold;
  }
  #sec_nos .objetivos .obj button {
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: rgb(148, 32, 3);
    text-transform: capitalize;
    border: 1px solid black;
    transition: all 0.8s;
    margin-bottom: 20px;
  }
  #sec_nos .objetivos .obj button:hover {
    color: rgb(148, 32, 3);
    background-color: black;
    border: 1px solid rgb(148, 32, 3);
    transform: scale(1.2);
    box-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  #sec_nos .objetivos .imgobj1 {
    background-position: center;
    background-size: cover;
    background-image: url(../img/waxing.jpg);
    height: 70vh;
    width: 100%;
    margin: 30px 15px;
  }
  #sec_nos .objetivos .imgobj2 {
    background-position: center;
    background-size: cover;
    background-image: url(../img/barber-john.jpg);
    height: 70vh;
    width: 100%;
    margin: 30px 15px;
  }
  .turnos .turnosimg h2 {
    font-size: 100px;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  .turnos .reserva {
    margin-bottom: 0px;
    background-image: linear-gradient(to bottom, rgb(220, 220, 220), rgb(148, 32, 3));
  }
  .turnos .reserva h3 {
    font-size: 40px;
  }
  .turnos .reserva form {
    height: 80vh;
  }
  .turnos .reserva form input {
    width: 50%;
    height: 50px;
  }
  .turnos .reserva form input::-moz-placeholder {
    font-size: 20px;
  }
  .turnos .reserva form input::placeholder {
    font-size: 20px;
  }
  .turnos .reserva form button {
    font-weight: bold;
    margin-top: 30px;
    display: block;
    margin: auto;
  }
  .turnos .horarios {
    margin-top: 0px;
    display: flex;
  }
  .turnos .horarios .left {
    width: 100%;
  }
  .turnos .horarios .horariosimg {
    height: 50vh;
    width: 80%;
    margin: auto;
    margin-right: 30px;
  }
  .sec_cortes .cortesimg h2 {
    font-size: 100px;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  .sec_cortes .cortestittle {
    font-size: 35px;
    background-image: linear-gradient(to right, rgb(220, 220, 220) 50%, rgb(148, 32, 3));
  }
}
@media (min-width: 1024px) {
  .navbar .navbar-brand {
    font-size: 60px;
  }
  .navbar-nav .nav-item .nav-link {
    font-size: 30px;
    padding: 15px 40px;
  }
  #section1 .jumbo h1 {
    font-size: 110px;
  }
  #section2 .h2index {
    font-size: 40px;
  }
  #section2 .flexx {
    display: flex;
    flex-direction: row;
  }
  #section2 .flexx .left .barberiaimg {
    padding: 20px 20px;
    margin: 15px 20px;
  }
  #section2 .flexx .right h4 {
    font-size: 40px;
    padding: 20px 15px;
  }
  #section2 .flexx .right p {
    font-size: 22px;
  }
  #section3 h2 {
    margin-top: 40px;
    font-size: 35px;
    font-weight: bold;
  }
  .barberos .barbmainimg h2 {
    font-size: 100px;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  .barberos .barb {
    display: flex;
    box-shadow: 2px 2px 5px rgb(148, 32, 3);
  }
  .barberos .barb .lado1 {
    width: 50%;
  }
  .barberos .barb .lado1 .barbimg {
    height: 44vh;
    width: 80%;
  }
  .barberos .barb .lado1 h3, .barberos .barb .lado1 h4, .barberos .barb .lado1 .info {
    margin-right: 80px;
  }
  .barberos .barb .lado2 {
    width: 50%;
  }
  .barberos .barb .lado2 p {
    font-size: 25px;
    padding: 100px 20px;
  }
  .barberos .barb2 .lado1 {
    order: 2;
  }
  .barberos .barb2 .lado2 {
    order: 1;
  }
  .barberos .barb4 .lado1 {
    order: 2;
  }
  .barberos .tittlebarberos {
    font-size: 50px;
    margin-top: 50px;
    background-image: linear-gradient(to right, rgb(220, 220, 220), rgb(148, 32, 3));
  }
  #sec_nos .nosimg h2 {
    font-size: 100px;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  #sec_nos .nosotros {
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin: auto;
  }
  #sec_nos .nosotros .imgnos {
    width: 300%;
    height: 50vh;
    margin: aut;
    margin-top: 70px;
  }
  #sec_nos .nosotros .imgnos:hover {
    filter: none;
  }
  #sec_nos .objetivos {
    display: flex;
    flex-direction: row;
    background-color: white;
  }
  #sec_nos .objetivos .obj {
    margin: auto;
    padding: 0px 30px;
    width: 95%;
  }
  #sec_nos .objetivos .obj h2 {
    margin: 80px 10px;
    border-bottom: 2px solid rgb(148, 32, 3);
    font-family: "Wix Madefor Text", sans-serif;
    text-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  #sec_nos .objetivos .obj p {
    font-weight: bold;
  }
  #sec_nos .objetivos .obj button {
    padding: 10px 15px;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    background-color: rgb(148, 32, 3);
    text-transform: capitalize;
    border: 1px solid black;
    transition: all 0.8s;
    margin-bottom: 20px;
  }
  #sec_nos .objetivos .obj button:hover {
    color: rgb(148, 32, 3);
    background-color: black;
    border: 1px solid rgb(148, 32, 3);
    transform: scale(1.2);
    box-shadow: 0px 0px 5px rgb(148, 32, 3);
  }
  #sec_nos .objetivos .imgobj1 {
    background-position: center;
    background-size: cover;
    background-image: url(../img/waxing.jpg);
    height: 70vh;
    width: 100%;
    margin: 30px 15px;
  }
  #sec_nos .objetivos .imgobj2 {
    background-position: center;
    background-size: cover;
    background-image: url(../img/barba.png);
    height: 70vh;
    width: 100%;
    margin: 30px 15px;
  }
}/*# sourceMappingURL=estilos.css.map */